.list {
  border: 1px solid var(--color-grey);
  border-radius: 0.9rem;

  margin: 1rem;
  padding: 1rem;

  width: 40%;
}

.Github-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  align-items: center;
}

.name-icon {
  display: flex;
  flex-direction: row;

  align-items: center;

  width: 100%;
}

.name {
  width: 100%;
  font-size: 0.9rem;
  color: var(--color-name);

  margin-left: 8px;
}

.description {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-description);
  width: 100%;
  word-wrap: wrap;
}

small {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-small);

  margin-top: 10px;
}

.link {
  font-size: 0.8rem;
  color: var(--color-name);

  margin-left: 8px;
}

.link-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .list {
    width: 60%;
  }
}

/* MEDIA QUERIES FOR SMALL DEVICES */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .list {
    width: 70%;
  }

  .description {
    word-wrap: break-word;
  }
}
