.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 2rem;
}

#nome {
  font-size: 1.2rem;
  margin-top: .8rem;

  color: var(--color-name);
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}
/* MEDIA QUERIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
  .profile-pic {
    width: 100px;
  }

  #nome {
    font-size: 1rem;
  }
}
