* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Segoe Ui;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

:root {
  --color-bg: #0D1117;
  --color-white: #fff;
  --color-name: #61F9D5;
  --color-description: #757980;
  --color-grey: #30363D;
  --color-small: #1ba9c5;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
}

.list {
  border: 1px solid var(--color-grey);
  border-radius: .9rem;

  margin: 1.5rem;
  padding: 1rem;

  width: 40%;
}

.Github-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  
  align-items: center;
}

.name-icon {
  display: flex;
  flex-direction: row;

  align-items: center;

  width: 100%;
}

.name {
  width: 100%;
  font-size: .9rem;
  color: var(--color-name);

  margin-left: 8px ;
}

.description {
  font-size: .8rem;
  font-weight: 500;
  color: var(--color-description);
  width: 100%;
}

small {
  width: 100%;
  font-size: .8rem;
  font-weight: bold;
  color: var(--color-small);

  margin-top: 10px;
}

.link {
  font-size: .8rem;
  color: var(--color-name);

 margin-left: 8px;
}

.link-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

  margin-top: 10px;
}